body {
    background: #ccc;
    font-family: "Poppins"sans-serif;
}

.shop {
    padding-top: 50px;
}

.container {
    padding: 20px;
}

.shopping-card {
    background-color: #fff;
    border-radius: 15px;
    /* margin-left: -30px; */
    margin-left: 50px;
    width: 680px;
    height: 830px;
    /* height: auto; */
}

.content {
    padding: 40px;
}

.content .image-product img {
    max-width: 1000;
    max-height: 300px;
}

.second-image img {
    margin: 5px 3px;
}

.product-content {
    margin-left: 30px;
}

.product-content h4 {
    color: #514f4f;
}

.rating-stars {
    color: yellow;
}

.title p {
    font-size: 20px;
}

.varian {
    width: 300px;
}

.container-add .add-items{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.vertical-hr {
    width: 0.5px;
    height: 20px;
    border: none;
    background-color: #000;
}

@media screen and (max-width: 1030px) {
    .shopping-card {
        margin: 0 auto;
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    .shopping-card {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .content .image-product img {
        width: 100%;
        height: 100%;
    }

    .shopping-card {
        height: auto;
    }

    .first-image {
        width: 250px;
        height: 220px;
        margin-left: 90px;
    }

    .first-image img {
        width: 250px;
        height: 220px;
    }

    .second-image {
        width: 50px;
        height: 50px;
        margin-left: 90px;
    }

    .shopping-card {
        height: 1200px;
    }

    .product-content {
        margin-top: 300px;
    }

    .product-content h4 {
        margin: 0 auto;
        margin-left: -200px;
        text-align: center;
    }

    .rating-stars {
        margin-left: -180px;
        margin-top: 30px;
    }

    .shopping-card hr {
        margin-left: -150px;
    }

    .order-item {
        margin-left: -180px;
    }

    .product-content h2 {
        margin-left: -180px;
    }

    .min-order {
        margin-left: -180px;
    }

    .varian {
        margin-left: -180px;
        margin-bottom: 0;
    }
}


@media screen and (max-width: 576px) {
    .shopping-card {
        height: auto;
    }

    .product-content h4 {
        margin-left: -400px;
        font-size: 25px;
    }

    .rating-stars {
        margin-left: -340px;
    }

    .product-content hr {
        margin-left: -340px;
        width: 380px;
    }

    .product-content h2 {
        margin-left: -380px;
        margin-top: 40px;
    }

    .container-add {
        margin-left: -199px;
    }

    .min-order p {
        margin-left: -199px;
    }

    .varian {
        margin-left: -380px;
    }
} 


/* navtabs */
.mytabs {
    margin-left: -250px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label {
    padding: 15px;
    color: rgb(74, 71, 71);
    background: #dfdede;
    border-radius: 10px 10px 0 0;
}

.mytabs label:hover {
    transition: all 0.3s ease;
    background-color: rgb(84, 211, 84);
    color: #fff;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    /* background: #fff; */
    order: 1;
    display: none;
}

.mytabs input[type="radio"]:checked+label+.tab {
    display: block;
}

.mytabs input[type="radio"]:checked+label {
    background-color: #fff;
    color: rgb(84, 211, 84);
}

@media screen and (max-width: 992px) {
    .mytabs {
        margin-left: -240px;
    }
}

@media screen and (max-width: 768px) {
    .mytabs {
        padding: 40px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 576px) {
    .mytabs {
        margin-left: -430px;
    }
}


/* summary */
.summary {
    display: flex;
    justify-content: flex-end;
    margin-top: -829px;
    /* margin-left: 50px; */
    margin-right: 70px;
}

.title-summary h2 {
    color: var(--text-dark-color);
}

.line {
    border: 1.5px solid rgb(86, 220, 86);
    border-radius: 5px;
    width: 50px;
    margin: 0 auto;
}

.box {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 10px;
    padding-top: 30px;
}

.order {
    display: flex;
    justify-content: space-between;
}

.price {
    display: none;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;
}

.button a{
    margin-top: 20px;
    width: 100%;
}

@media screen and (max-width: 1030px) {
    .summary {
        margin-top: 0 auto;
        margin-top: 30px;
        margin-left: 35px;
        justify-content: start;
    }

    .box {
        width: 675px;
        margin-left: 90px;
    }
}

@media screen and (max-width: 992px) {
    .summary {
        margin: 0;
        margin-top: 30px;
        max-width: 800px;
    }

    .box {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .summary {
        max-width: 500px;
        width: 100%;
    }
}